/*GOOGLE FONTS: POPPINS*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/*GOOGLE FONTS: UBUNTU*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap");
/*VT323*/
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&family=VT323&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Ubuntu", sans-serif;
}

html,
body {
  height: 100%;
}

body {
  background-color: var(--primaryColor);
  display: flex;
  flex-direction: column;
}

:root {
  --primaryColor: #000000;
  --secundaryColor: #fff;
  --terciaryColor: #f00;
  --quaternaryColor: #808080;
  --fifthColor: #161616;
  --sixthColor: #633bbc;
  --seventhColor: #ff0;
}

/* START (MENU - NAVBAR) */
.menu-btn {
  color: #fff;
  font-size: 23px;
  cursor: pointer;
  display: none;
}
.max-width {
  width: 100%;
  padding: 0px;
  margin: 0px 20px;
}
.navbar .logo {
  display: flex;
  flex-direction: column;
}
.navbar .logo a {
  color: var(--terciaryColor);
  background-image: linear-gradient(341deg, #f00 23%, #524add 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 50px;
  font-weight: 500;
  text-decoration: none;
  font-family: "VT323", monospace;
}
.navbar .logo span {
  color: var(--quaternaryColor);
  font-size: 16px;
  font-family: "VT323", sans-serif;
  text-align: center;
  margin-top: .015rem;
  letter-spacing: .1rem;
}
.navbar {
  position: fixed;
  width: 100%;
  z-index: 999; /*DEFINE A ORDEM DO ELEMENTO*/
  padding: 20px 0;
  font-family: "Ubuntu", sans-serif;
  background-color: #000;
  border-bottom: 1px solid #888;
  margin: 0;
}
.navbar .max-width {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 100%;
  margin: 0 auto;
  padding: 1rem;
}
.navbar .logo img {
  width: 200px;
  height: 150px;
}
.navbar .menu li {
  list-style: none;
  display: inline-block;
}
.navbar .menu li a {
  display: block;
  color: #fff;
  font-size: 22px;
  font-weight: 400;
  margin-left: 25px;
  list-style: none;
  text-decoration: none;
}
.navbar .menu li a:hover {
  background-image: linear-gradient(341deg, #f00 23%, #524add 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
/* END - MENU NAVBAR* /

/* START - RESPONSIVO NAV BAR*/
@media (max-width: 947px) {
  .menu-btn {
    display: block;
    z-index: 999;
  }
  .menu-btn i.active:before {
    content: "\f00d";
  }
  .max-width {
    max-width: 100%;
  }
  .navbar .logo a {
    font-family: "VT323", sans-serif;
    font-size: 30px;
    color: var(--terciaryColor);
    font-weight: 500;
  }
  .navbar .menu {
    position: fixed;
    height: 100vh;
    width: 100%;
    left: -100%;
    top: 0;
    text-align: center;
    padding-top: 80px;
    transition: all 0.3s ease;
    background-color: var(--primaryColor);
  }
  .navbar .menu.active {
    left: 0;
  }
  .navbar .menu li {
    width: 100%;
    display: block;
    border: 1px solid var(--quaternaryColor);
  }
  .navbar .menu li a {
    display: inline-block;
    margin: 13px 0;
    font-size: 25px;
    color: var(--terciaryColor);
  }
  .max-width .logo a {
    margin-bottom: 5px;
  }
  .navbar .logo span {
    font-size: 8px;
    text-align: center;
  }
}

/*SECTION 1*/
.top {
  display: flex;
  width: 100%;
  height: 100%;
  margin-bottom: 3rem;
}
.top .max-width {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 8rem auto;
  padding: 0;
  max-width: 100%;
  height: 100%;
  background-image: url("https://i.pinimg.com/originals/21/11/61/21116158daaeb1459b4ec0758505e1ad.gif");
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.top .max-width h2 {
  background-image: linear-gradient(
    341deg,
    rgba(255, 0, 0, 0.552) 23%,
    #261dd4 90%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 25px;
  text-align: center;
}
.top .max-width h2 span {
  color: var(--terciaryColor);
  font-size: 35px;
  font-family: "VT323", monospace;
}
.top .max-width .title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 34.5rem auto auto 25rem;
  transform: rotate(-5deg);
}
.content {
  color: var(--quaternaryColor);
  width: 70%;
  margin: 15rem auto 5rem auto;
  text-align: center;
}
/* END SECTION 1 */

/* START RESPONSIVO SECTION 1*/
@media (max-width: 947px) {
  .top {
    width: 100%;
    height: 60%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .top .max-width {
    max-width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 6rem auto 0 auto;
    padding: 0;
    background-image: url("https://i.pinimg.com/originals/21/11/61/21116158daaeb1459b4ec0758505e1ad.gif");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
  .top .max-width h2 span {
    position: relative;
  }
  .content {
    margin: 
    3rem auto 3rem auto;
  }
  .content h1 {
    font-size: 22px;
  }
  .services .max-width .title {
    font-size: 32px;
  }
}

/*SECTION 2 - SERVICES*/
.services {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background-color: var(--fifthColor);
  font-family: "Ubuntu", sans-serif;
  width: 100%;
}
.services .serv-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}
.services .title {
  text-align: center;
  margin: 60px 0;
  font-weight: 400;
  font-size: 45px;
  color: var(--terciaryColor);
  background-image: linear-gradient(341deg, #f00 23%, #524add 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
.services .serv-content .card {
  width: calc(33% - 20px);
  background: var(--fifthColor);
  background-size: cover;
  text-align: center;
  border-radius: 6px;
  padding: 50px 25px;
  cursor: pointer;
  margin-bottom: 20px;
}
.services .serv-content .card:hover {
  background: var(--quaternaryColor);
  transition: all 0.3s ease;
}
.services .serv-content .img-1 {
  background-image: url("https://i0.wp.com/theme.files.wordpress.com/2023/02/stax-featured.jpg?ssl=1&fit=479%2C360");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.services .serv-content .img-2 {
  background-image: url("https://i0.wp.com/theme.files.wordpress.com/2023/06/screenshot.png?ssl=1&fit=479%2C360");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.services .serv-content .img-3 {
  background-image: url("https://i0.wp.com/theme.files.wordpress.com/2023/10/regular-card-product-logo.jpg?ssl=1&fit=479%2C360");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.services .serv-content .img-4 {
  background-image: url("https://i0.wp.com/s2.wp.com/wp-content/themes/pub/bark/screenshot.png?fit=479%2C360");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.services .serv-content .img-5 {
  background-image: url("https://i0.wp.com/s2.wp.com/wp-content/themes/pub/cakely/screenshot.png?fit=479%2C360");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.services .serv-content .img-6 {
  background-image: url("https://i0.wp.com/theme.files.wordpress.com/2023/02/natural-featured.jpeg?ssl=1&fit=479%2C360");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
}
.services .serv-content .card i {
  font-size: 50px;
  color: var(--quaternaryColor);
  transition: all 0.3s ease;
}
.services .serv-content .card:hover i {
  color: #fff;
}
.services .serv-content .card .box {
  transition: all 0.3s ease;
  display: none;
}
.services .serv-content .card:hover .box {
  transform: scale(1.05);
  display: block;
}
.services .serv-content .card .text {
  font-size: 25px;
  font-weight: 500;
  margin: 10px 0 7px 0;
}
/*RESPONSIVO*/
@media (max-width: 947px) {
  .services .serv-content .card {
    width: calc(50% - 10px);
    margin-bottom: 20px;
  }
}
@media (max-width: 690px) {
  .services .serv-content .card {
    width: 100%;
  }
}

/* ABOUT */
.about {
  width: 100%;
  height: 100vh;
  margin-top: 8.7rem;
}
.about h1 {
  color: var(--terciaryColor);
  font-size: 55px;
  text-align: center;
  font-weight: 400;
  margin: 2rem 2rem;
}
.about p {
  color: var(--secundaryColor);
  text-align: center;
  font-size: 23px;
  font-weight: 300;
  padding: 2rem;
  line-height: 2;
}

/*QUEM SOMOS*/
.premium {
  width: 100%;
  height: 100vh;
  margin: 3rem auto;
  padding: 0;
}
.premium .max-width {
  max-width: 100%;
  height: 90vh;
  margin: 0 auto;
}
.premium .title {
  text-align: center;
  font-weight: 400;
  font-size: 55px;
  color: var(--terciaryColor);
  margin: 3rem auto 3rem auto;
}
.premium .premium-content {
  max-width: 100%;
  max-height: auto;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;
  margin: 0 auto;
  padding: 2rem;
}
.premium .premium-content .left {
  width: 40%;
}
.premium .premium-content .left .img {
  width: 100%;
  height: 400px;
  object-fit: cover; /*Como sera apresentado o conteudo*/
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./image/img-section-01.jpg");
}
.premium .premium-content .right {
  width: 40%;
}
.premium .premium-content .right .img {
  width: 100%;
  height: 400px;
  object-fit: cover; /*Como sera apresentado o conteudo*/
  border-radius: 6px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url("./image/img_02_meeting.jpg");
}
.premium .premium-content .text {
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 2rem;
  color: var(--quaternaryColor);
}
.premium .premium-content .left p, .premium .premium-content .right p {
  text-align: justify;
  line-height: 2;
  color: var(--secundaryColor);
  font-size: 20px;
  font-weight: 300;
}
.premium .premium-content .right a {
  display: inline-block;
  background: #b02ab7;
  color: #fff;
  font-size: 20px;
  font-weight: 500;
  padding: 10px 30px;
  margin-top: 20px;
  border-radius: 6px;
  border: 2px solid #b02ab7;
  transition: all 0.3s ease;
}
.premium .premium-content .right a:hover {
  color: #b02ab7;
  background: none;
}
@media (max-width: 1104px) {
  .premium .premium-content .left img {
    width: 350px;
    height: 350px;
  }
}
@media (max-width: 947px) {
  .premium .max-width {
    margin-top: 50px;
  }
  .premium .premium-content .column {
    width: 100%;
  }
  .premium .premium-content .left {
    display: flex;
    justify-content: center;
    margin: 0 au 60px;
  }
  .premium .premium-content .right {
    flex: 1;
  }
  .premium .premium-content .right .text {
    margin-top: 30px;
  }
  .premium .premium-content .right a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 1rem auto;
  }
}

/*START ESTIMTE*/
.container_estimate {
  width: 100%;
  height: 100vh;
  margin: 8.7rem auto;
}
.container_estimate h2 {
  background-image: linear-gradient(341deg, #f00 33%, #524add 60%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  text-align: center;
  font-size: 55px;
  margin: 3rem auto;
}
.container_estimate .img_estimate {
  background-image: url("image/img_01_estimate.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 60vh;
  border-radius: 6px;
}
/*END ESTIMATE*/

/*SECTION - CONTACT*/
.contact {
  color: #fff;
  background-color: var(--primaryColor);
  font-family: "Ubuntu", sans-serif;
  margin-top: 100px;
  width: 100%;
}
.contact .max-width {
  background: var(--primaryColor);
  max-width: 90%;
}
.contact .title {
  text-align: center;
  margin-bottom: 50px;
  padding-top: 50px;
  font-weight: 400;
  font-size: 35px;
}
.contact .contact-content {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 3rem 3rem 8rem;
}
.contact .contact-content .column {
  width: calc(50%);
}
.contact .contact-content .left {
  height: 45vh;
}
.contact .contact-content .left p {
  text-align: justify;
}
.contact .contact-content .left .icons {
  margin: 10px 0;
}
.contact .contact-content .row {
  display: flex;
  height: 65px;
  align-items: center;
}
.contact .contact-content .row .info {
  margin-left: 40px;
  margin-top: -3rem;
}
.contact .contact-content .row i {
  font-size: 25px;
  color: var(--terciaryColor);
}
.contact .contact-content .info .head {
  font-family: 500;
}
.contact .contact-content .info .sub-title {
  color: #f6f6f6;
}
.contact .contact-content .text {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
}
.contact .right form .field,
.contact .right form .fields .field {
  height: 45px;
  width: 100%;
  margin-bottom: 35px;
}
.contact .right form .textarea {
  height: 80px;
  width: 100%;
}
.contact .right form .name {
  margin-right: 10px;
}
.contact .right form .field input,
.contact .right form .textarea textarea {
  width: 100%;
  height: 100%;
  border-radius: 6px;
  outline: none;
  padding: 0 15px;
  font-family: "Poppins", sans-serif;
  transition: all 0.3s ease;
}
.contact .right form .field input:focus,
.contact .right form .textarea textarea:focus {
  background: var(--terciaryColor);
}
.contact .right form .textarea textarea {
  padding-top: 10px;
  resize: none;
}
.contact .right form .button-area {
  display: flex;
  align-items: center;
}
.right form .button-area button {
  color: var(--primaryColor);
  display: block;
  width: 160px !important;
  height: 45px;
  outline: none;
  font-size: 18px;
  font-weight: 500;
  cursor: pointer;
  background: none;
  border-radius: 6px;
  flex-wrap: wrap;
  border: 2px solid var(--terciaryColor);
  transition: all 0.3s ease;
  background: var(--terciaryColor);
}
.right form .button-area button:hover {
  background: var(--terciaryColor);
  color: var(--primaryColor);
  border: 2px solid var(--seventhColor);
}
footer {
  font-size: 12px;
}
@media (max-width: 947px) {
  .contact .contact-content .column {
    width: 100%;
    margin-bottom: 35px;
  }
  .contact .right form .button-area {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b02ab7;
    border-radius: 6px;
  }
}
@media (max-width: 500px) {
  .contact .title {
    margin-top: 50px;
  }
  .contact .right form .fields {
    flex-direction: column;
  }
  .contact .right form .name,
  .contact .right form .email {
    margin: 0;
  }
  .contact .right form .button-area {
    display: flex;
    align-items: center;
    justify-content: center;
    background: #b02ab7;
    border-radius: 6px;
    border: none;
  }
}



/* START - FOOTER */
footer {
  background: #0c0f16;
  padding: 25px 23px;
  color: var(--quaternaryColor);
  text-align: center;
  font-family: "Poppins", sans-serif;
  margin-top: auto;
}
footer span a {
  color: var(--terciaryColor);
  background-image: linear-gradient(341deg, #f00 23%, #524add 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}
footer span a:hover {
  color: var(--terciaryColor);
}
